*
{
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 18px;
        font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.container
{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

header
{
    background-color: black;
    padding: 50px 0;
    margin-bottom: 60px
}

h1
{
  color: white;
  font-size: 42px;
  text-align: center;
}


.block
{
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 12px;
  background-color: #fcf4d9;
  border-radius: 8px;
  border: rgba(220, 220, 220, 0.25) solid 4px;
}

h2
{
  color: black;
  font-size: 24px;
  margin-bottom: 6px;
}

ul
{
  margin-left: 16px;
}

footer
{
  background-color: black;
  padding: 50px 0;
  margin-top: 60px;
  text-align: center;
  color: white;
}
